<div class="display-wrapper" ng-class="{'display-wrapper-full': ctrl.displayFullWidth()}">
	<span aria-live="polite" aria-label="Je hebt {{ctrl.getLabel()}} geselecteerd">{{ctrl.getLabel()}}</span>
	<a ng-href="{{ctrl.getObjectUrl()}}" target="_blank" rel="noopener">
		<zs-icon icon-type="launch">
		</zs-icon>
	</a>
	<button
		ng-click="ctrl.openModal()"
		ng-show="ctrl.canEdit()"
	>
		<zs-icon icon-type="pencil">
		</zs-icon>
	</button>
</div>
