<div class="dashboard-reset">
  <span>Het dashboard wordt hersteld naar de standaard instellingen. Alle bestaande widgets worden verwijderd en
    vervangen door de volgende widgets:</span>
  <ul>
    <li>- Mijn openstaande zaken</li>
    <li>- Zaakintake</li>
    <li>- Favoriete zaaktypen</li>
  </ul>
  <span>Let op: Kan niet ongedaan gemaakt worden.</span>
  <div class="form-actions">
    <button class="btn btn-primary" ng-click="zsDashboardReset.resetWidgets()">
      Herstellen
    </button>
  </div>
</div>