[% nowrapper=1 %]
[% process_template = 'form/' _ c.config.gemeente_id _ '/header.tt' %]
[% PROCESS $process_template %]

[% layout_type = 'simple' %]

<div id="loginwrap" class="alt-auth-login alt-auth">
    <div class="block">
        <div class="block-header">
            <h1>Wijzig uw wachtwoord</h1>
        </div>
        <div id="content" class="block-content">
                <div class="alt-auth-small-form">

                    <p class="alt-auth-intro">
                    [% IF twofactor_error %]
                        <span class="alt-auth-error">[% twofactor_error %]</span>
                    [% END %]
                        <span class="alt-auth-intro-text">Hier kunt u een nieuw wachtwoord instellen.</span>
                    </p>
                

                    <div class="form-required-fields-explanation">
                        * = Verplicht veld
                    </div><br/>

                <form action="[% c.uri_for('/auth/twofactor/lost_password_update_password') | html_entity %]" method="POST" class="zvalidate">
                        <div class="row">
                            <div><label for="pw">Wachtwoord *</label></div>
                            <div class="column"><input type="password" name="password" id="pw">
                            [% PROCESS widgets/general/validator.tt %]</div>
                        </div>
                        <div class="row">
                            <div><label for="pw2">Wachtwoord nogmaals *</label></div>
                            <div class="column"><input type="password" name="password_check" id="pw2">
                            [% PROCESS widgets/general/validator.tt %]</div>
                        </div>
                    

                    <button type="submit" value="Wachtwoord wijzigen" class="button button-primary">
                        <span class="a">Wachtwoord wijzigen</span>
                    </button>
                    <br>
                </form>

                </div>

    </div>
</div> 

[% process_template = 'form/' _ c.config.gemeente_id _ '/footer.tt' %]
[% PROCESS $process_template %]
