 <div class="block-header ztb-header clearfix">
   [% IF (zaaktype_id) %]
   <div class="block-header-title">[% params.node.titel | html_entity %] -
   [% ELSE %]
   Zaaktype aanmaken
   [% END %]
   <span>[% action_header %]</span>
 </div>
