[% BLOCK linebreak %]
[% IF no_line_breaking %][% my_unbroken %][% ELSE %][% my_unbroken | html_line_break %][% END %]
[% END %]
[% BLOCK linebreak_html %]
[% IF no_line_breaking %][% my_unbroken | html_entity %][% ELSE %][% my_unbroken | html_entity | html_line_break %][% END %]
[% END %]


[% UNLESS my_text.length && my_text.defined %]
    <span>-</span>
[% ELSIF my_text.length > 400 && (veldoptie_type != 'geojson' || veldoptie_type != 'address_v2')  %]
    <div data-ng-controller="nl.mintlab.core.IsolationController">
        <div ng-show="!show_all">
            <span class="giveMeEllipsis">
                [% IF veldoptie_type == 'richtext' %]
                    [% my_text %]
                [% ELSE %] 
                    [% my_text | html_entity %]
                [% END %]
            </span>
            <button type="button" class="show-more show-more-no-line" ng-click="show_all=true">
                <i class="icon icon-show-more"></i>
                <span>Meer</span>
            </button>
        </div>
        <div ng-show="show_all">
            [% IF veldoptie_type == 'richtext' %]
                [% PROCESS linebreak 
                    my_unbroken = my_text
                %]
            [% ELSE %] 
                [% PROCESS linebreak_html
                    my_unbroken = my_text
                %]
            [% END %]
            <button type="button" class="show-more show-more-no-line show-less" ng-click="show_all=false">
                <i class="icon icon-show-more"></i>
                <span>Minder</span>
            </button>
        </div>
    </div>
[% ELSIF veldoptie_type == 'appointment_v2' %]
    <div data-ng-controller="nl.mintlab.case.AppointmentV2Controller">
        <span>
            <[ getLabel([% my_text %]) ]>
        </span>
    </div>
[% ELSE %]
    <span>[% IF veldoptie_type == 'richtext' %]
        [%# Richtext contents are filtered -%]
        [% my_text.0 || my_text | html_line_break %]
    [% ELSE %]
        [% my_text.0 || my_text | html_entity | html_line_break %]
    [% END %]
    </span>
[% END %]
