[% USE Dumper %]

[% # mintloader html
#
#
# Options:
# - uploaded_url        : url of file currently uploaded
# - uploaded_mimetype   : mimetype: of currently uploaded file, used to display icon
# - uploaded_filename   : filename of currently uploaded file
%]

[% UNLESS veldoptie_name %]
    ERROR: need veldoptie_name
    [% RETURN %]
[% END %]


[% # debug trick to simulate IE behaviour %]
[% mintloader_enabled = 1 %]

[% mimetype_class = PROCESS widgets/general/mimetype.tt 
    mimetype = uploaded_mimetype
%]

<div class="mintloader fileUpload" id="[% veldoptie_name %]">
    <input type="hidden" name="upload_destination" value="[% mintloader_upload_destination %]" />
    <input type="hidden" name="filestore_uuid" value=""/>

    [% PROCESS widgets/general/unaccepted_files_present.tt %]

    [% IF !mintloader_enabled || (c.req.headers.user_agent.search('MSIE') && !c.req.headers.user_agent.search('MSIE 10')) %]
        <iframe name="[% veldoptie_name %]_file_upload_iframe" style="display:none;"></iframe>
        <input type="file" name="[% veldoptie_name %]" />

        <input type="button" class="clear_queue_ie button button-secondary button-small" value="Wis nieuwe bestanden" style="display: [% uploaded_files && uploaded_files.size && unaccepted_files_present ? 'inline' : 'none' %]" />

        <div class="new_upload" style="display: none;"></div>

        <div class="uploaded_files_ie">
            [% IF uploaded_files %]
                [% PROCESS widgets/general/veldoptie/file_view.tt %]
            [% END %]
        </div>

    [% ELSE %]
        <input 
            type="file" 
            class="ng-animate-shim fileToUpload [% veldoptie_name %] [% IF send_to_upload %]ezra_send_to_upload[% END %]" 
        />  

        <input 
            id="[% veldoptie_id %]"
            type="button" 
            class="kiesbestand button button-secondary button-small" 
            value="[% IF uploaded_files && uploaded_files.length %]Nog een bestand[% ELSE %]Kies bestand[% END %]"
        />

        <input type="button" class="clear_queue button button-secondary button-small [% uploaded_files && uploaded_files.size && unaccepted_files_present ? '' : 'ng-hide' %]" value="Wis nieuwe bestanden" />

        <span class="slepen">
            of sleep [% IF uploaded_files %]nog een [% END %]bestand (een per keer)
        </span>

        <div class="progressIndicator clearfix">
            <div class="progressBarOuter"><div class="progressBar"></div></div>
            <div class="progressNumber">&nbsp;</div>
            <div class="transferBytesInfo"></div>
        </div>

        <div class="uploadResponse" [% UNLESS uploaded_files && uploaded_files.size %]style="display:none;"[% END %]>
            [% IF upload_error %][% upload_error %][% END %]
            [% IF uploaded_files %]
                [% PROCESS widgets/general/veldoptie/file_view.tt
                    view_mode = 0 %]
            [% END %]
        </div>
    [% END %]        
</div>
