[% UNLESS message %]
    Error: field 'message' not defined 
[% END %]
<div class="tooltip-test-wrap">
    <div class="tooltip-test rounded">
        [% message %]
        <a class="icon_close"></a>
    </div>
    <div class="tooltip-test-tip"></div>
</div>
