<div class="case-status-template" zs-tooltip="{{vm.status() | caseStatusLabel }}" tabindex="0"
  aria-label="Status: {{vm.status() | caseStatusLabel}}. {{vm.title}}" role="img">
  <zs-icon icon-type="emtpy-icon icon-status icon-status-{{vm.getIcon()}}">
  </zs-icon>
  <zs-notification-counter data-count="vm.updates()" data-title="vm.title">
  </zs-notification-counter>
</div>