[% layout_type = 'simple' %]

[%IF c.config.gemeente_id == "vechtstromen" OR c.config.gemeente_id == "hoogheemraadschap-van-rijnland" OR c.config.gemeente_id == "hoogheemraadschap-van-schieland" OR  c.config.gemeente_id == "hdsr" %]
  [% customer_type_text = 'uw waterschap' %]
[% ELSE %]
  [% customer_type_text = 'uw gemeente' %]
[% END %]

<div class="left flex50 block" id="burger">
    <div id="inner">
        <p class="header">
            [% zaaktype_node.titel %]
            [% zaaktype_node.zaaktype_definitie_id.handelingsinitiator %]
            als burger
        </p>
        <div class="blockcontent">
            <p>[% IF type_aanvragers.grep('^natuurlijk_persoon').size %]
                    Voor het [%
                    zaaktype.algemeen.ztc_handelingsinitiator %]
                    van dit product of deze dienst, dient u
                    gebruik te maken van DigiD. Wanneer u in [% c.get_customer_info.naam %]
                    woont worden uw gegevens automatisch ingevuld. Wanneer u niet in
                    [% c.get_customer_info.naam %] woont vragen wij eenmalig uw persoonsgegevens te verstrekken.</p>
                    <a href="[%
                        c.uri_for(
                            '/zaak/create/webformulier/aanvrager'
                            {
                                authenticatie_methode   => 'digid',
                                ztc_aanvrager_type      => 'natuurlijk_persoon',
                            }
                        ) | url
                        %]"
                        class="link digid-aanvragen id-knop"
                        ></a>

                    
                    <div class="digid">
                        <h3>Wat is DigiD?</h3>
                        <p class="digid-tekst no_margin">
                        Met uw persoonlijke DigiD kunt u inloggen op
                        de website van [% customer_type_text %] [% c.get_customer_info.naam %]
                        om zaken te regelen.
                        Bijvoorbeeld een vergunning of een uittreksel. Uw
                        DigiD bestaat uit een gebruikersnaam en een
                        wachtwoord. Klik op het DigiD-logo voor meer
                        informatie of ga naar
                        <a href="http://www.digid.nl">http://www.digid.nl</a>.</p>

                        <a href="http://www.digid.nl/" class="digid-logo">
                            <img width="50" height="50" src="/images/digid_eo_rgb_50.gif" alt="digid logo"/>
                        </a>
                    </div>
            [% ELSE %]
                <p>Het [% zaaktype.algemeen.ztc_handelingsinitiator %]
                van dit product of deze dienst is helaas niet
                mogelijk voor burgers maar is alleen bedoeld
                voor organisaties.</p>
            [% END %]
        </div>
    </div>
</div>


<div class="right flex50 block" id="bedrijf">
    <p class="header">
        [% zaaktype_node.titel %]
        [% zaaktype_node.zaaktype_definitie_id.handelingsinitiator %]
        als organisatie
    </p>
    <div class="blockcontent">
                                <p>
                        [% IF type_aanvragers.grep('^niet_natuurlijk_persoon').size %]
                            Voor het [%
                            zaaktype.algemeen.ztc_handelingsinitiator %] van
                            dit product of deze dienst, dient u gebruik te
                            maken van uw [% c.get_customer_info.naam %]ID. Wanneer u in [% c.get_customer_info.naam %] bent gevestigd, worden uw gegevens automatisch ingevuld. Wanneer u niet in [% c.get_customer_info.naam %] gevestigd bent, vragen wij eenmalig uw gegevens te verstrekken.</p>
                            <a href="[%
                                c.uri_for(
                                    '/zaak/create/webformulier/aanvrager'
                                    {
                                        authenticatie_methode   => 'bedrijfid',
                                        ztc_aanvrager_type      => 'niet_natuurlijk_persoon',
                                    }
                                ) | url
                                %]"
                                class="link [% c.config.gemeente_id %]id-aanvragen id-knop">Aanvragen met [% c.get_customer_info.naam %]ID</a>
                            
                            <div class="digid">
                            <h3>Wat is een [% c.get_customer_info.naam %]ID?</h3>
                            
                            <p class="digid-tekst no_margin">[% c.get_customer_info.naam %]ID is een authenticatiemiddel voor
                            organisaties om zaken te regelen bij de gemeente
                            [% c.get_customer_info.naam %]. Het [% c.get_customer_info.naam %]ID bestaat uit een
                            gebruikersnaam en een wachtwoord. Bent u een
                            onderneming of instelling en heft u nog geen
                            [% c.get_customer_info.naam %]ID?  Vraag deze dan gratis aan door op het
                            logo te klikken.<br />
                            
                            <a href="[% c.get_customer_info.gemeente_id_url %]">
                                <img class="digid-logo" width="100" height="100" src="/images/[% c.config.gemeente_id %]id.jpg" alt="[% c.config.gemeente_id %]id logo" />
                            </a>
                            </div>
                        [% ELSE %]
                            Het [% zaaktype.algemeen.ztc_handelingsinitiator %]
                            van dit product of deze dienst is helaas niet
                            mogelijk voor organisaties maar is alleen bedoeld
                            voor burgers.
                        [% END %]
    </div>
</div>
