<form ng-submit="vm.handleSubmit()">

  <zs-spinner is-loading="vm.isLoading()"></zs-spinner>

  <vorm-fieldset data-fields="vm.getFields()" data-values="vm.getValues()" data-valid="vm.getValidity().validations"
    data-on-change="vm.handleChange($name, $value)" data-compiler="vm.getCompiler()">
  </vorm-fieldset>

  <ul class="case-action-message-list">
    <li class="case-action-message" ng-repeat="message in vm.getMessages() track by message.name"
      ng-class="message.classes">
      <zs-icon class="case-action-message-icon" icon-type="{{::message.icon}}"></zs-icon>
      <span class="case-action-message-label">{{::message.label}}</span>
    </li>
  </ul>

  <div class="form-actions">
    <button ng-show="!vm.isViewOnly()" class="btn btn-primary btn-flat"
      zs-disabled="vm.hasWarning()||(!vm.isFormValid()||vm.isSubmitting())" type="submit">
      {{::vm.getSubmitLabel()}}
    </button>
  </div>

</form>