.list-view {
	font-size: 1em;
	list-style: none;
	border:1px solid #ccc;
	border-top:none;
}

.list-view-col-state-desc,
.list-view-col-state-asc{
	font-size: 0.571em;
	line-height: 1;
}

.list-view-table-header {
	display: table;
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
}

.list-view-col {
	cursor: pointer;
}

.list-view-table-header > .list-view-entity-highlight {
	display: table;
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;	
}

.list-view-table-header > div {
	display: table-cell;
	vertical-align: middle;
	height: 32px;
}

.list-view-list {
	list-style: none;
	width: 100%;
	margin:0;
}

.list-view-entity-highlight,
.new-entity-options-row {
	display: table;
	table-layout: fixed;
	width: 100%;
	cursor: pointer;
	border-collapse: collapse;
}

.list-view-entity-highlight > div,
.new-entity-options-row > div {
	display: table-cell;
	vertical-align: middle;
	height: 32px;
}

.list-view-entity-options {
	width: 40px;
	text-align: center;
}

.list-view-entity-checkbox-wrapper {
  display: flex;
}

.list-view-entity-checkbox {
  position: relative;
  display: flex;

  &.has-selected-children {
    &::after {
        content: "";
        display: block;
        position: absolute;
        background-color: #3B88FD;
        top: 3px;
        bottom: 3px;
        left: 3px;
        right: 3px;
        border-radius: 2px;
    }
  }
}

.list-view-depth-padding {
	width: 5px;
}

.list-view-list .list-view-entity-title {
	width: 100%;
	padding: 0 8px 0 0;
	display: table !important;
}

.list-view-entity-name > span,
.list-view-entity-name > input {
	display: inline;
}

.list-view-entity-name > span {
	color:$primary-color;
	text-decoration: underline;
	padding-bottom: 2px;
	border-bottom: 2px solid transparent;
}

.list-view-entity-name > span:hover {
	color:darken($primary-color,35%);
}

.doc-info-icons{
	position:absolute;
	top:50%;
	margin-top:-10px;
	right:0;
	.mdi{
		font-size:1.4em;
	}
}

.doc-info-icons i{
	float:right;
	margin-right:8px;
	color:#bbb;
}

.doc-info-icons i:hover{
	color:#000;
}

.list-view-entity-edit, 
.list-view-entity-type,
.list-view-entity-origin,
.list-view-entity-origin-date {
	font-size: 0.929em;
}

.list-view-entity-type,
.list-view-entity-origin,
.list-view-entity-origin-date {
	width: 80px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.list-view-entity-origin-date {
	width: 100px;
	
}

.list-view-entity-highlight{
	.list-view-entity-type,
	.list-view-entity-origin,
	.list-view-entity-origin-date{
		display: none;
		@media #{$large-and-up} {
			display: table-cell;
		}
	}
	.list-view-entity-type {
		display: none;
		@media #{$large-only} {
			display: table-cell;
		}
	}
}

.list-view-entity-type-ext{
	color: #aaa;
}

.list-view-entity-edit {
	width: 270px;
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.list-view-entity-edit .list-view-entity-label > span{
	margin: 0;
}

.list-view-entity-edit .list-view-entity-label > span:hover{
	cursor: pointer !important;
}

.list-view-entity-edit-revised {}

.list-view-entity-edit-revised:hover {
	text-decoration: none;
}

.list-view-entity-actions {
	width: 100px;
}

.list-view-entity-highlight > div{
	height: 48px;
	padding: 0 8px;
}

.list-view-list > li{
	display: block;
	margin: 0;
	padding: 0;
}

.list-view-entity-info{
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	margin: 0 0 -1px 0;
	font-size:1em;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.list-view-entity-info:hover,
.list-view-entity-info.entity-selected  {
	border-color: #c6d8e4;
	background: #f7fcff;
}

.list-view-entity-info:hover,
.list-view-entity-info.entity-selected{
	z-index: 1;
	position: relative;	
}

.list-view-entity-title > .list-view-entity-title-text > div,
.list-view-entity-title > .list-view-entity-icon{
	display: inline-block;
	line-height: 1.5;
	margin-right: 4px;
}

.object-type-file:last-child .list-view-entity-info{
	border-bottom:none;
	margin:0;
}

.list-view-entity-title-text .list-view-entity-label span{
	margin: 0;
}

.list-view-table-header {
	font-weight: 600;
}

.action-bar-wrapper,
.list-view-table-header,
.list-view-root.list-view-entity-info{
	background: #f6f6f6;
	border: 1px solid #ccc;
	position: relative;
	margin: 0 0 -1px;
}

.list-view-table-header,
.list-view-root.list-view-entity-info{
	border-right: none;
	border-left: none;
}

.list-view-root.list-view-entity-info {
	z-index: 2;
}

.list-view-root.list-view-entity-info .list-view-entity-title {
	padding-left: 12px;
}

.list-view-sort:hover{
	background: #eee;
}

.list-view-entity-desc{
	color: #999;
	font-size: 0.929em;
}

.list-view-entity-rejection-reason{
	position: absolute;
	right:5px;
	top:50%;
	margin-top:-8px;
}

.list-view-entity-rejection-reason i{
	color:red;
}

.list-view-entity-title{}

.list-view-entity-title > .list-view-entity-title-text{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	padding: 7px 35px 7px 0;
	line-height: 1.1;
	position:relative;
}

.list-view-entity-title-text.has-publication-settings,
.list-view-entity-title-text.has-annotations{
	padding-right:35px;
}

.list-view-entity-title-text.has-publication-settings.has-annotations{
	padding-right:58px;
}

.list-view-entity-title input{
	padding: 4px !important;
	width: 50%;
	height: auto !important;
	line-height: 14px !important;
}

.file-list-empty-notice{
	height: 48px;
	line-height: 48px;
	color: #aaa;
	text-indent: 15px;
	margin: 1px 0 0;
	font-size:16px;
}

.list-view-list > li > ul > .file-list-empty-notice{
	text-indent: 45px;
}

.list-view-entity-edit-user{
	color: #aaa;
}

.object-type > .list-view-row > .list-view-entity-highlight {
	-webkit-transition: background 0.5s 0.5s ease;
	-moz-transition: background 0.5s 0.5s ease;
	-o-transition: background 0.5s 0.5s ease;
	-ms-transition: background 0.5s 0.5s ease;
	transition: background 0.5s 0.5s ease;
}

.object-type-updating,
.highlighted{
	> .list-view-row > .list-view-entity-highlight, {
		border-color: rgba(0,0,0,0.15);
		background: #ffffcc;
		-webkit-transition: background 0.15s ease;
		-moz-transition: background 0.15s ease;
		-o-transition: background 0.15s ease;
		-ms-transition: background 0.15s ease;
		transition: background 0.15s ease;
	}
}

.highlighted > .list-view-row > .list-view-entity-highlight {
	background: #ffff99;
}

.object-type > .list-view-row:hover {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
}

.object-type-file.drag-over .list-view-entity-info{
	background: desaturate(darken(#f7fcff,7%),30%);
	border-color: desaturate(darken(#c6d8e4,7%),30%);
}

.inline-form {
	display: inline;
}
