.deelzaken{
    padding: 25px;
    font-weight: normal;
    background: #fff;
    // td{
    //     border-bottom-color: #ddd;
    // }
    tr.current_case td{
       background: #fff;
       vertical-align: middle;
       //border-bottom: 1px solid #ddd;
    }
    // .table-cell{
    //     border-bottom: 1px solid #ddd !important;
    //     padding: 0.8em 0.3em;
    // }
    .table-cell{
        border-bottom:1px solid #ccc;
    }
    .table-body .table-row:last-child{
        .table-cell{
            border-bottom:none;
        }
    }
    .table-header{
        background:$background-color-table-header;
    }
    .crud .table-header .table-cell{
        padding:0;
    }
    h3.title{
        border-bottom:none;
    }
}

.relations-block{
    margin-bottom:35px;
}

form[name="newRelation"],
.related-objects-add,
.pip-authorized-add{
    padding: 1em 0 0;
}

.case-relation-drag {
    display: inline-block;
    margin: 10px;
}

.case-relation-drag-content {
    display: inline-block;
    border: 1px solid #ccc;
    background: white;
    padding: 4px 8px 4px 24px;
    font-size: 14px;
    font-weight: bold;
}

#zaak-elements-deelzaken {
    position: relative;
    min-height: 100px;
}

.related-object-icon {
    vertical-align: middle;
}

.related-object-type {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    margin-left: 5px;
}

.related-object-label {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    font-weight: normal;
}

.planned-case-list,
.pip-authorized-list {
    // .crud-table{
    //     border:none !important;
    // }
    // .crud .table-header .table-cell-header{
    //     border-top:2px solid #ddd;
    //     border-bottom:1px solid #ddd;
    // }
    // .crud .table-header.crud-header .crud-table-column-header-label-button{
    //     padding:0.8em 0.3em;
    // }
    // .crud .table-header{
    //     background:#fff;
    // }
    .crud .crud-table-item-row-empty{
        text-indent: -9999px;
    }
    .crud-pagination,.crud-table-item-row-empty{
        display: none;
    }
}