<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

[% USE JSON %]

    <html class="" xml:lang="nl" xmlns="http://www.w3.org/1999/xhtml">

    <head ng-csp>
    <title>[% (page_title ? '' _ page_title _ ' :: ' : '') %][% c.get_customer_info.naam %] :: xxllnc Zaken</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    

    <link rel="shortcut icon" href="/images/favicon.svg" />

    [%
    PREFIX_MD5 = 'zsv_' _ c.config.ZS_VERSION.replace('\.','_');
    %]

    [% PROCESS layouts/common_header_includes_css.tt %]

    [% PROCESS layouts/common_header_includes_js.tt %]

    [%
       # WymEditor makes use of its script tag - so it will not work with the current minified solution.
       # Also preloading these files reduces some of the lag when rendering it
     %]
    <link rel="stylesheet" type="text/css" href="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/js/dagobert/skin/skin.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    [% IF layout_type == 'simple' %]
        <!-- Refresh na DIGID SESSIE VERLOOP -->
        <meta http-equiv="refresh" content="9000" />
    [% END %]

    </head>

    [%# TODO haal 'debilt' hieronder weg %]
    <body[% (bodyid ? ' id="' _ bodyid _ '"' : '') %] class="[% IF idps.size -%]ad-koppeling-enabled[% END %] otap_[% (c.config.gemeente_id == 'debilt' ? 'prod' : c.config.otap) %] gemeente_[% c.config.gemeente_id | lower %][% IF !pip %] intern[% END %][% (c.get_customer_info.extra_body_classes ? ' ' _ c.get_customer_info.extra_body_classes : '') %][% c.user_exists ? '' : ' public' %][% extra_body_class %][% IF zaak || betrokkene %] body-full-screen[% END %][% UNLESS c.req.path %] [% END %]" data-ng-app="Zaaksysteem">

        [% IF c.user_exists %]

        <script type="text/zs-scope-data">
            {
                "user": {
                    "betrokkene_identifier": "[% c.user.betrokkene_identifier %]",
                    "username": "[% c.user.username %]",
                    "is_admin": [% c.check_any_user_permission('admin') ? "true" : "false" %],
                    "settings": [% JSON.encode(c.user.settings) %]
                }
            }
        </script>

        [% END %]

<!-- END header -->
