[% PROCESS beheer/zaaktypen/milestones/checkboxes.tt %]

<div id="kenmerk_definitie">
  [% IF object_attributes.size %]
  <form>
    <input type="hidden" name="uniqueidr" value="[% c.req.params.uniqueidr | html_entity %]">
    <input type="hidden" name="update" value="1">
    <input type="hidden" name="rownumber" value="[% rownumber %]">
    <input type="hidden" name="edit_id" value="[% c.req.params.edit_id | html_entity %]">

    <div id="object_mutation_definitie" class="form">

      <div class="row">
        <div class="column large-5">Kenmerk</div>
        <div class="column large-7">
          <select
                id="object_mutation_object"
                name="object_mutation_attribute_uuid"
          >
            [% FOREACH object IN object_attributes %]
            [% label = object.label | html_entity %]
            [% value = object.uuid %]
            <option
                value="[% value %]"
                [% IF params.attribute_uuid == value %]
                selected
                [% END %]>[% label %]</option>
            [% END %]
          </select>
        </div>
      </div>

      <div class="row">
        <div class="column large-5">Soort mutatie</div>
        <div class="column large-7">
          <select
              id="[% tr_class %]_mutation_type"
              name="object_mutation_mutation_type">
            <option value="create"[% IF params.mutation_type == 'create' %] selected[% END %]>Aanmaken</option>
            <option value="edit"[% IF params.mutation_type == 'edit' %] selected[% END %]>Wijzigen</option>
          </select>
          <br>
          Let op: Kiezen voor &quot;Wijzigen&quot; betekent dat alle objecten
          in dit relatiekenmerk gewijzigd worden.
        </div>
      </div>

      <div class="row">
        [% PROCESS attr_checkbox
        title = "Uitvoeren bij afronden fase"
        name  = "object_mutation_phase_transition"
        param = "params.phase_transition"
        %]
      </div>

      <div class="row">
        [% PROCESS attr_textbox
        title = "Titel"
        class = "kenmerken_value_mandatory"
        name  = "object_mutation_object_title"
        param = "params.object_title"
        %]
      </div>

      <div class="row">
        <div class="column large-5">Systeemkenmerken</div>
        <div class="column large-7">
          <table name="system_attributes" class="form">
            <tr>
              <td>
                <input type="hidden" name="dialog_checkboxes" value="object_mutation_sys_active_set">
                <input type="checkbox"
                  name="object_mutation_sys_active_set"
                  value="1"
                  [% IF params.system_attribute_changes.exists('status') %]checked="checked"[% END %]>
              </td>
              <td>
                Status
              </td>
              <td>
                <select name="object_mutation_sys_active">
                  <option value="active" [% IF params.system_attribute_changes.status == "active" %]selected="selected"[% END %]>Actief</option>
                  <option value="inactive" [% IF params.system_attribute_changes.status == "inactive" %]selected="selected"[% END %]>Inactief</option>
                </select>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row">

        <div>
          <div class="column large-5">Kenmerkmapping</div>
          <div class="column large-7">

          [% FOREACH k IN params.attribute_mapping.keys %]
            <input type="hidden"
              name="ztk_[% k | html_entity %]"
              value="[% params.attribute_mapping.$k | html_entity %]"
            />
          [% END %]
            <table name="attribute_mapping" class="form">
              <tr>
                <th>
                  <div>
                    Kenmerk van object
                  </div>
                </th>
                <th>
                  <div>
                    Vooringevulde waarde
                  </div>
                </th>
              </tr>
            </table>
          </div>
        </div>

      </div>

      <div class="form-actions">
        <input type="submit" value="Opslaan" class="button button-primary">
      </div>
  </form>
  [% ELSE # IF object_attributes.size %]
  Er zijn geen kenmerken van type &quot;relatie met object&quot; in dit
  zaaktype aanwezig.
  [% END # IF object_attributes.size %]
    </div>
