<div class="widget block">
	<div class="widget-header block-header">
		<div class="widget-header-title"><[widgetTitle]></div>
		<div class="widget-header-settings"></div>
	</div>
	<div class="widget-body block-content" data-ng-transclude>
	</div>
</div>