[% nowrapper = 1 %]
<div class="ztAccordion">
  [%
    label = bib_type;
    IF bib_type == "custom_object";
    THEN;
      label = 'objecttype v2';
    END;
    IF bib_type == "objecttype";
    THEN;
      label = 'Objecttype (deprecated)';
    END;

  %]
    <h3><a href="#">Zoek bestaand [% c.loc(label) %]</a>
        [% IF c.req.params.row_id && bib_type == 'kenmerken' %]
            <input type="button" class="button button-secondary button-smaller right bib_type_[% bib_type %] ezra_bibliotheek_nieuw" name="nieuw" value="Nieuw Kenmerk" />
        [% END %]
    </h3>

    <div>
       <div id="search_bibliotheek_[% bib_type %]" class="ui-accordion-inner clearfix">
            <form action="[% c.uri_for('/beheer/bibliotheek/' _ bib_type _ '/search') %]">
               <input type="hidden" name="search" value="1" />
               <input type="hidden" name="search_filter_post" value="[% search_filter_post %]"/>
               <input type="hidden" name="uniquehidden" value="[% c.req.params.hidden_name %]" />
               <input type="hidden" name="row_id" value="[% c.req.params.row_id %]" />
               [% includefile = 'widgets/beheer/bibliotheek/' _ bib_type _ '/search.tt'; %]
               [% INCLUDE $includefile %]
                <input type="submit" class="button button-primary right" name="submit" value="Zoeken" />
                <img id="betrokkene_loader" src="/images/loader.gif" class="disabled">
            </form>
        </div>
    </div>

    <h3><a href="#">Resultaten</a></h3>
    <div>
        <div class="ui-accordion-inner clearfix" id="resultaten">
        </div>
    </div>
</div>
