@import "../partials/dependencies";

$template-type: open;

$primary-color: #05417d;
$secondary-color: #e10514;
$tertiary-color: #DC241F;
$button-id-bg-color: #333;

$logo-url: "";
$logo-width: auto;
$logo-height: auto;
$logo-margin: 0;
$header-height: auto;
$header-padding: 30px 0 0;
$header-bg: white;

$button-primary-bg: $tertiary-color;
$button-primary-color: white;
$button-in-title-color: $tertiary-color;
$border-radius: 3px;

$anchor-color: black;
$anchor-color-hover: $primary-color;
$anchor-text-decoration: underline;
$anchor-text-decoration-hover: none;
$font-family: Helvetica, Arial, 'Sans Serif';
$font-size: 100%;
$template-width: 100%;
$template-type-open-width: 1186px;

$content-padding: 0 0 20px;
$mobile-content-padding: 0 12px 20px;

$container-border: none;

$pip-nav-background-color: transparent;
$pip-nav-border-color: $primary-color;
$pip-nav-border-color-active: $primary-color;
$pip-nav-anchor-color: #7c7b7b;
$pip-nav-anchor-color-active: $primary-color;
$pip-nav-anchor-color-hover: $primary-color;
$pip-nav-bg-active: transparent;
$pip-nav-bg-hover: transparent;
$pip-nav-font-size: 18px;
$toggle-pip-nav-color: #000;
$pip-nav-border-weight: 1px;
$pip-nav-font-weight: normal;

$pip-progress-bar-bg: $primary-color;
;
$pip-progress-bar-percentages: $secondary-color;

$pip-phase-title-bg: $primary-color;

$title-text-color: $primary-color;
$title-bg-color: white;
$title-font-size: 28px;
$title-font-weight: bold;
$title-padding-top: 1em;
$title-padding-bottom: 2em;
$title-padding-left: 12px;
$title-padding-right: 12px;

$heading1-color: $primary-color;
$heading1-fontsize: 28px;
$heading1-weight: bold;

$heading2-color: #000;
$heading2-fontsize: 1.2em;
$heading2-weight: bold;

$form-navigation-margin: 0 0 1.5em;
$stap-active-anchor-font-weight: bold;
$stap-active-bg-color: $primary-color;

$icon-question-sign-color: $secondary-color;

@import "template-normalize";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
@import "template-media-queries";

header {
  width: 100%;
  max-width: 100%;

  .inner {
    position: relative;
  }

  &:before {
    background: $primary-color;
    content: "";
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  #logo {
    position: relative;
    z-index: 1;
    text-indent: 0;
    display: inline-block;

    img {
      display: block;
      max-width: 100%;
    }
  }
}

.block-header-inner {
  border-bottom: 2px solid #BDBDBD;
  height: 75px;
  position: relative;

  &:after {
    background: url(../../form/155/img/br.png) no-repeat scroll left bottom;
    content: "";
    height: 13px;
    left: 78px;
    position: absolute;
    bottom: -13px;
    width: 27px;
    background-size: 100% 100%;
  }
}

.advieslijn {
  position: absolute;
  right: 12px;
  top: 0;

  @media only screen and (max-width: 607px) {
    display: none;
  }

  h2 {
    font-size: 28px;
    color: $primary-color;
    margin: 3rem 0 0;

    @media only screen and (max-width: 855px) {
      font-size: 22px;
      text-align: right;
      margin-top: 2.5rem;
    }

    span {
      color: $secondary-color;

      @media only screen and (max-width: 855px) {
        display: block;
      }
    }
  }
}

.pip-nav {
  margin-bottom: 20px;
  padding-top: 20px;
  font-weight: bold;
  border-bottom: none;

  ul li.current a {
    border-bottom: 5px solid $pip-nav-border-color-active;
    margin-bottom: -1px;

    @media only screen and (max-width: $breakpoint-mobile) {
      border-bottom: none;
    }
  }
}

.pip-case-form-phase-title {
  font-weight: normal;
}


@media only screen and (max-width: $breakpoint-mobile) {

  .pip-nav {
    margin-left: -$mobile-content-padding;
    margin-right: -$mobile-content-padding;
    padding-top: 0;
  }

}

label.titel,
.form label.titel,
.form * label {
  font-weight: 700 !important;
  font-weight: bold !important;
  color: #2d2d2d !important;
}