@import "../partials/dependencies";

$template-basic: true;

$primary-color: #2b7ead;
$anchor-color: $primary-color;
$anchor-color-hover: $primary-color;
$anchor-text-decoration: none;
$anchor-text-decoration-hover: underline;
$font-size: 82.5%;
$font-family: 'helvetica neue', helvetica, arial, sans-serif;
$logo-url: "../../form/baarn/img/logo.png";
$logo-margin: 0px 0 0 40px;
$title-padding-right: 20px;
$title-padding-left: 20px;

@import "template-normalize";
@import "basic-template";
@import "template-defaults";
@import "template-media-queries";
@import "button-reset";

header {
  background: url("../../form/baarn/img/header_bg.png") repeat scroll 20px 0 transparent;
}

.block-content,
.pip-content {
  background: transparent url(../../form/baarn/img/caroussel_overlay.png) 20px 0 no-repeat !important;
}

.block>.block-header,
.pip-nav {
  background: $primary-color url(../../form/baarn/img/navigatie_overlay.png) 20px 0 no-repeat !important;
}

.pip {
  background: transparent url(/img/caroussel_overlay.png) 20px 0 no-repeat !important;
}