@import "../partials/dependencies";

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

$template-type: open;

$font-family: "lato", "-apple-system", "BlinkMacSystemFont", "Segoe UI", Helvetica, Arial, sans-serif;
$font-family-2: "lato", "-apple-system", "BlinkMacSystemFont", "Segoe UI", Helvetica, Arial, sans-serif;

$logo-url: "../../form/imk/img/logo.png";
$logo-width: 200px;
$logo-height: 35px;
$logo-bg-size: cover;
$logo-margin: 12px 0 0 20px;
$header-height: 95px;
$header-padding: 18px 0;

$body-bg: #ffffff;
$container-border: none;


$primary-color: #5f643b;
$secondary-color: #5f643b;

$button-id-bg-color: #333;

$button-primary-bg: $secondary-color;
$button-primary-color: #fff;
$button-primary-bg-hover: darken($button-primary-bg, 10%);
$button-primary-bg-active: darken($button-primary-bg, 10%);

$anchor-color: $primary-color;
$anchor-color-hover: $secondary-color;

$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;

$font-family: "lato", "-apple-system", "BlinkMacSystemFont", "Segoe UI", Helvetica, Arial, sans-serif;
$font-size: 82.5%;
$template-width: 1024px;

$pip-nav-background-color: $primary-color;
$pip-nav-border-color: darken($pip-nav-background-color, 10%);
$pip-nav-border-color-active: $pip-nav-border-color;
$pip-nav-anchor-color: white;
$pip-progress-bar-bg: $secondary-color;
$toggle-pip-nav-color: #fff;

$pip-progress-bar-bg: #e8eae3;

$title-text-color: white;
$title-bg-color: $primary-color;

$title-padding-right: 20px;
$title-padding-left: 20px;


@import "template-normalize";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
@import "template-media-queries";



#logo {
  float: left;
}

#container {
  background: transparent !important;
}

.form-navigation .stap:before {
  border-left-color: #f0f1ec;
}

body {
  font-family: 'Lato', sans-serif !important;
  font-size: 90%;
  background: #f0f1ec;
}

.form>.row {
  font-size: 120% !important;
  padding: 1.4em 0;
}


input[type=email],
input[type=number],
input[type=password],
input[type=text],
input[type=url],
textarea {
  border-style: solid;
  border-width: 1px;
  border-color: #dddfcf;
  padding: 5px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 7px;
}

form * label.titel {
  color: #3c3e2d !important;
}

header {
  background-color: transparent !important;
  margin-bottom: 15px !important;
  margin-top: 15px !important;
}


.block-header {
  border-radius: 50px;
  background-color: #ffffff !important;
  height: 70px;
  padding-top: 5px;
  padding-left: 35px;
  padding-right: 35px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}


.block-header h1 {
  font-family: 'Lato', sans-serif !important;
  line-height: 58px;
  margin: 0;
  font-size: 1.538em !important;
  color: #3c3e2d !important;
  font-weight: bold;
  font-size: 2.4em !important;
}

.block .block-header .header-actions {
  height: 58px;
  line-height: 58px;
  margin-right: -15px !important;
}

a i.mdi,
button i.mdi {
  margin-top: -3px;
}

.block .block-header .header-actions .button-secondary {
  color: #5f643b;
  padding-top: 5px;
  padding-right: 20px;
  letter-spacing: 0px;
  text-transform: inherit;
  font-size: .9em;
}

.block .block-header .header-actions .button-secondary:hover {
  color: #5f643b;
  background: rgba(95, 100, 59, 0.08);
  border-radius: 60px;
}

.block .block-header .header-actions .button-secondary i {
  color: #5f643b !important;
}

.system-message {
  padding: 16px 13px 14px;
  text-align: center;
  border: 0px solid #f0f0f0;
  margin-bottom: 26px !important;
  background: #fff9f1;
  font-weight: 700;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  font-size: .923em;
  margin: 15px 0;
  border-radius: 62px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  font-size: .76em;
  color: #5f643b;
  font-weight: 700;
}

.form-navigation .stap strong,
{
font-weight: 700;
font-size: 1.09em;
letter-spacing: 1px;
}

.form-navigation .stap {
  font-size: 1.09em;
  letter-spacing: 1px;
  color: #5f643b;
}

#logo a {
  display: block;
  width: 261px;
  height: 46px;
}

#top-bar-wrap {
  border-bottom: 1px solid #fff;
  font-size: .923em;
  border-top: 4px solid #5f643b;
}




h2 {
  font-size: 1.7em;
  color: #3c3e2d;
}


.button-primary,
.button-secondary {
  font-size: 1.2em;
  border-radius: 43px;
  padding-right: 4%;
  padding-left: 4%;
  text-transform: uppercase;
  letter-spacing: 2px;

}

.button-primary {
  background: #5f643b !important;
}



.button-secondary {
  border: 1px solid #e8eae3;
  background: #e8eae3;
  color: #5f643b;
}

.button-primary {
  font-weight: 700;
}


.form-actions.clearfix {
  margin-top: 44px;
  margin-bottom: 44px;
}

.stap-tekst {
  display: block !important;
}

.stap-tekst .stap-beschrijving {
  margin-bottom: 70px !important;
}

.system-message {
  display: none !important;
}

.button.button-id {
  border: 1px solid #5f643b !important;
  background: #5f643b !important;
  color: #fff;
  font-weight: normal;
  text-transform: initial;
  border-radius: 14px !important;
}

.button.button-id:hover {
  border: 1px solid #5f643b !important;
  background: darken(#5f643b, 10%) !important;
  color: #fff;
  font-weight: normal;
  text-transform: initial;
  border-radius: 14px !important;
}




.stap-titel {
  font-size: 2em;
  font-weight: bold;
  color: #3c3e2d;
}

.form * label- {
  font-size: 2em;
  font-weight: bold;
  color: #3c3e2d;
}



.row .large-6 {
  position: relative;
  width: 50%;
}


.validation-message img,
.validator img {
  display: none;
}

.validation-message.invalid div.validate-content,
.validator.invalid div.validate-content {
  border: 0px solid #ece5e5;
  line-height: 1.3;
  padding: 11px 20px;
  float: left;
  width: auto;
  background: #ffc6bc;
  ;
  font-weight: 400;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  color: #812020;
  font-size: 14px;
}

.validation-message.invalid div.validate-tip,
.validator.invalid div.validate-tip {
  background: url(../../form/imk/img/validator-tip-imk.gif) no-repeat 0 0;
  height: 11px;
  width: 6px;
  position: absolute;
  left: 0;
  top: 14px;
}


.row .large-3 {
  letter-spacing: -0.1px;
}


.form>.row {
  background: transparent;
}


.form-navigation {
  background: transparent;
}

.form-navigation .stap {
  background: transparent;
  padding-right: 30px;
}

.form-navigation .stap {
  background: #e8eae3;
}

.form-navigation .stap:after {
  border-left-color: #e8eae3;
}

.form-navigation .stap.done:after {
  border-left-color: #e8eae3;
}

.form-navigation .stap:after {
  display: none;
}

.form-navigation .stap:before {
  display: none;
}

.row {
  background: transparent;
}

.pip-login .pip-login-block,
.prelogin-info {
  background: #e8eae3;
}

.form-navigation .stap:last-child {
  padding-right: 30px;
}

.form-warning {
  background: #ffffef;
  padding: 10px;
  margin: 20px 0;
  border: 0px solid #d5d583;
}



.pip-nav {
  background-image: none;
  border-bottom: 0px solid #414428 !important;
  font-weight: inherit;
  font-size: 1em;
  font-family: "lato", "-apple-system", "BlinkMacSystemFont", "Segoe UI", Helvetica, Arial, sans-serif;
}

.pip-nav ul {
  padding-top: 20px;
}


.pip-nav ul {
  padding-top: 7px;
  margin-left: -17px !important;
}

.pip-nav ul li.current a,
.pip-nav ul li.current a:hover {
  background: rgba(95, 100, 59, 0.08);
  border-radius: 60px;
  padding-left: 20px;
  padding-right: 20px;
}


.pip-nav ul li a {
  color: #5f643b;
}

.pip-nav ul li {
  margin-right: 8px;
  padding: 1px;
}

.pip-nav ul li.current a,
.pip-nav ul li.current a:hover {
  background: #f0f1ec !important;
}

.pip-nav ul li.current a {
  color: #5f643b;
  font-weight: 700;
}



.pip-nav ul li a:hover {
  background: #f0f1ec !important;
  color: #5f643b !important;
  border-radius: 70px;
}


.right {
  margin-right: -30px !important;
}

@media only screen and (max-width: 960px) {
  .toggle-pip-nav {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    color: #5f643b;
    padding: .7em 1em;
    vertical-align: middle;
  }

  .pip-nav {
    border-radius: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .pip-nav ul {
    padding-top: 7px;
    margin-left: 0px !important;
    background: white;
  }

  #toggle:checked+div button {
    background: #ffffff;
  }

  .pip-nav ul li.current a,
  .pip-nav ul li.current a:hover {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0px;
  }

  .pip-nav ul li {
    margin-bottom: 5px;
  }

  .right {
    margin-right: 0px !important;
  }

  .pip-nav ul li a:hover {
    background: transparent !important;
    border-radius: 0px;
  }

  .pip-nav {
    border-radius: 0px;
    background-color: #ffffff !important;
  }

  .block-header {
    border-radius: 0px;
    background-color: #ffffff !important;
    height: 70px;
    padding-top: 5px;
    padding-left: 12px;
    padding-right: 12px;
    -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  }

  .block-header h1 {
    font-family: "Lato", sans-serif !important;
    line-height: 58px;
    margin: 0;
    font-size: 1.538em !important;
    color: #3c3e2d !important;
    font-weight: bold;
    font-size: 1.5em !important;
  }

  .block .block-header .header-actions .button-secondary:hover {
    color: #5f643b;
    background: rgba(95, 100, 59, 0);
    border-radius: 60px;
  }
}

@media only screen and (min-width: 960px) {
  .pip-nav {
    border-radius: 50px;
    background-color: #ffffff !important;
    height: 70px;
    padding-top: 5px;
    padding-left: 35px;
    padding-right: 35px;
    -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);

  }
}

.button.button-xsmall {
  padding: 0 4px;
  line-height: 1.4;
  font-size: .929em;
  padding-right: 2%;
  padding-left: 2%;
  font-weight: 700;
  letter-spacing: 1px;
}


.pip-case-form-phase-title {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #959787;
  border-color: #5f643b;
  color: #fff;
}

label>input[type=checkbox],
label>input[type=radio] {
  margin-right: 6px;
  vertical-align: top;
  margin-top: 7px;
}

.ui-widget-header {
  color: #ffffff;
  font-weight: 400;
  background: #5f643b !important;
  font-family: "lato", "-apple-system", "BlinkMacSystemFont", "Segoe UI", Helvetica, Arial, sans-serif;
}

.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
  z-index: 10000;
  border: 0px solid #bbb;
  display: none;
}

.ui-widget-content {
  background: #fff;
  color: #222;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

td {
  border-bottom: 1px solid #f7f7f7 !important;
}

.ui-widget-header .ui-icon {
  filter: contrast(200%) invert(100%);
  -webkit-filter: contrast(200%) invert(100%);
}

.ui-datepicker .ui-state-highlight,
.ui-datepicker .ui-widget-content .ui-state-highlight {
  border: 0px dotted #2d5e96;
  background: #f0f1ec;
  color: #000;
  font-weight: 700;
}


.ui-datepicker .ui-state-active,
.ui-datepicker .ui-widget-content .ui-state-active {
  background: #5f633b;
  border: 0px solid #ccc;
  color: #fff;
  font-weight: 700;
}


.ui-datepicker .ui-datepicker-header {
  margin-left: -3px;
  margin-right: -3px;
  margin-top: -3px;
  margin-bottom: 4px;
}

.button.button-small {
  padding: 6px 16px;
  font-size: .7em;
  min-width: 1em;
  font-weight: 600;
  border: 0px solid #e8eae3;
  background: #c4c5ba;
  color: #4f575a;
  margin-bottom: 6px;
}

.pip .field-help .icon-question-sign,
.field-help .icon-question-sign {
  color: #acada3;
  text-decoration: none;
}

.dropdown-tooltip .dropdown-content {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.2);
  background: #fff;
  border: 0px solid #bbb;
  text-align: left;
  color: #3c3e2d;
  font-weight: 400;
  line-height: 1.5;
  overflow: auto;
}


@media only screen and (max-width: 960px) {
  .mintloader .button {
    margin-bottom: -1px !important;
    width: 100%;
  }
}

.start_zaak_box {
  background: #80826d;
}

.start_zaak_box_content {
  border-left: 2px solid #fff;
  margin-left: 60px;
  background: #80826d;
  padding: 15px 20px;
  border-radius: 0 3px 3px 0;
}

.vc_custom_1535028171150 {
  padding-top: 30px !important;
  background-color: #6f734f !important;
  width: 100% !important;
  height: 140px;
  bottom: 0;
  left: 0 !important;
  position: relative !important;
  margin-top: 50px;
}

.vc_column_container {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 768px) {
  .vc_col-sm-12 {
    width: 100%;
  }
}

.wpb_single_image img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

.vc_single_image-wrapper {
  position: relative;
  overflow: visible;
}

.wpb_single_image.vc_align_center {
  text-align: center;
}

.vc_row.wpb_row.vc_row-fluid.whitelinks.vc_custom_1542811267062.wpex-vc_row-has-fill.wpex-vc-row-stretched {
  width: 100% !important;
  height: 210px;
  bottom: 0;
  left: 0 !important;
  position: relative !important;
  background-color: #5f643b !important;
}

.wpb_wrapper {
  color: #ffffff;
  font-size: .9em !important;
  text-align: center;
  font-weight: 400 !important;
  font-family: "lato", "-apple-system", "BlinkMacSystemFont", "Segoe UI", Helvetica, Arial, sans-serif;
  letter-spacing: .03em;
  margin-bottom: -13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: -19px;
}

.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social>a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social>a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.d-block.float-none.align-items-center.align-content-center.mx-auto {}

.col-auto.d-block.align-self-center.mx-auto {
  text-align: center;
}


.footer-btt {
  margin-top: 110PX;
}


.col-auto.col-xl-12.offset-xl-0.d-block.align-self-center.mx-auto {
  min-height: 210px;
}


.instituut {
  margin-bottom: -13px;
}

.form * select {
  margin: 4px 0 !important;
  width: 100% !important;
  padding: 3px 0px 3px 2px !important;
  border-radius: 7px !important;
  border-color: #dddfcf !important;
}

form * label.titel {
  font-weight: 700;
  font-weight: bold;
}

.form * label {
  display: block;
  font-weight: 700;
  font-weight: bold;
}


.form label.titel {
  font-weight: 700;
  font-weight: bold;
}

label.radio-item,
label.checkbox-item {
  font-weight: normal !important;
}



.form-navigation .stap {
  height: inherit;
}

button.submit_to_pip.button.button-secondary.button-small {
  margin-right: -18px;
}


@media only screen and (max-width: 960px) {
  .webform .block-header h1.header-title {
    padding-right: 98px;
    line-height: 30px;
    margin-top: 14px;
    margin-bottom: 14px;
  }

  button.submit_to_pip.button.button-secondary.button-small {
    margin-right: -18px;
  }

  .header h1.header-title {
    white-space: inherit;
  }

  .form label.titel {
    margin-bottom: 2%;
  }
}


a {
  background-color: transparent !important;
  font-weight: bold;
  color: #3c3e2e;
}