@import "../partials/dependencies";

$template-type: open;
$body-bg: #f29934;
$logo-url: "../../form/moerdijk/img/logo.svg";
$logo-width: 415px;
$logo-height: 70px;
$logo-margin: 0 0 0 20px;
$header-height: 100px;
$header-padding: 10px 0;
$border-radius: 0;
$primary-color: #00442b;
$secondary-color: #89ab0c;
$tertiary-color: #e44100;
$button-id-bg-color: #192D46;
$button-primary-bg: $primary-color;
$button-primary-color: white;
$button-primary-font-weight: bold;
$anchor-color: black;
$anchor-color-hover: $primary-color;
$font-family: 'Open Sans', 'Sans Serif';
$font-family-2: 'Oswald', 'Sans Serif';
$font-size: 87.5%;
$content-width: 100%;
$template-width: 100%;
$template-type-open-width: 1040px;
$content-padding: 20px 0;
$mobile-content-padding: 20px 13px;
$form-navigation-margin: 0 0 1em;
$container-border: none;
$container-margin: 0 auto -201px !important;
$pip-nav-background-color: $primary-color;
$pip-nav-bg-hover: darken($primary-color, 5%);
$pip-nav-border-color: $tertiary-color;
$pip-nav-border-color-active: $pip-nav-border-color;
$pip-nav-anchor-color: white;
$pip-nav-bg-active: darken($primary-color, 10%);
$pip-nav-border-weight: 0;
$pip-nav-font-weight: normal;
$pip-nav-font-family: Oswald, 'sans serif';
$pip-nav-font-size: 1.1rem;
$toggle-pip-nav-color: #fff;
$pip-progress-bar-bg: lighten($primary-color, 50%);
$title-text-color: white;
$title-bg-color: $primary-color;
$title-padding-left: 15px;
$title-font-family: $font-family-2;
$title-font-size: 1.5rem;
$title-padding-top: .25em;
$title-padding-bottom: .25em;
$heading1-color: #192D46;
$heading1-fontsize: 36px;
$heading1-weight: normal;
$heading2-color: #192D46;
$heading2-fontsize: 22px;
$heading2-weight: normal;
$heading1-font-family: $font-family-2;
$heading2-font-family: $font-family-2;
$pip-phase-title-bg: #e0e0e0;
$pip-phase-title-color: #192D46;
@import "template-normalize";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
@import "template-media-queries";

.pip-nav {
  border-right: 1px solid #fff;

  ul {
    display: flex;
    border-right: 1px solid #fff;

    li {
      flex-grow: 1;

      a {
        border-left: 1px solid #fff;
        text-align: center;

        @media only screen and (max-width: $breakpoint-mobile) {
          text-align: left;
        }
      }
    }

    @media only screen and (max-width: $breakpoint-mobile) {
      display: none;
    }
  }
}

#container::after {
  content: '';
  height: 300px;
  display: block;
}

#footer {
  overflow: hidden;
}

#footer .socialmedia {
  padding: 10px;
  background-color: #ffffff;
}

#footer .socialmedia a {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 45px auto;
  display: block;
  height: 45px;
  margin-top: -25px;
}

#footer .socialmedia a span {
  color: #000000;
}

#footer .container-fluid {
  padding: 0;
  margin: 0 -15px;
  background-color: #00442b;
}

#footer .container-fluid a {
  color: #ffffff;
  margin: 3px;
  padding: 10px 0;
}

.col-md-12 {
  width: 100%;
}

#footer .contact {
  padding-top: 20px;
  border-top: 2px solid;
  background-color: #ffffff;
}

#footer .container-fluid a.btn {
  padding: 10px 45px;
}

.btn-primary {
  color: #ffffff;
  background-color: #192D46;
  border-color: #83B0D9;
}

.btn-primary:hover {
  color: #ffffff;
  background-color: #192D46;
  border-color: #83B0D9;
  text-decoration: none;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel {
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin-bottom: 20px;
  margin-top: 20px;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-12 {
  width: 100%;
}

@media (min-width: 992px) {

  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-push-3 {
    left: 25%;
  }
}

@media (min-width: 768px) {

  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }

  .col-sm-push-0 {
    left: auto;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  #footer .footlist_in {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
  }
}

@media (min-width: 1200px) {
  .col-lg-push-2 {
    left: 16.66666667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
}

#footer .socialmedia a.facebook {
  background-image: url("../../form/moerdijk/img/facebook.png");

  &:hover {
    background-image: url("../../form/moerdijk/img/facebook_kleur.png");
    transform: scale(1.1);
  }
}

#footer .socialmedia a.twitter {
  background-image: url("../../form/moerdijk/img/twitter.png");

  &:hover {
    background-image: url("../../form/moerdijk/img/twitter_kleur.png");
    transform: scale(1.1);
  }
}

#footer .socialmedia a.youtube {
  background-image: url("../../form/moerdijk/img/youtube.png");

  &:hover {
    background-image: url("../../form/moerdijk/img/youtube_kleur.png");
    transform: scale(1.1);
  }
}

#footer .socialmedia a.instagram {
  background-image: url("../../form/moerdijk/img/instagram.png");

  &:hover {
    background-image: url("../../form/moerdijk/img/instagram_kleur.png");
    transform: scale(1.1);
  }
}

.text-hide {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  background-color: #ffffff;
  color: #000000;
  font: 0/0 a;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.text-center {
  text-align: center;
}

.row {
  width: auto;
  margin: 0;

  .row {
    margin: 0;
  }
}

.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical>.btn-group:before,
.btn-group-vertical>.btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}

a {
  color: $anchor-color;
  text-decoration: $anchor-text-decoration;

  &:hover {
    color: $anchor-color-hover;
    text-decoration: $anchor-text-decoration-hover;
  }
}

#logo a {
  padding-top: 30px;
}