@import "../partials/dependencies";

$template-basic: true;

$body-bg: #f1f1f1;

$logo-url: "../../form/munitax/img/logo.jpg";
$logo-width: 326px;
$logo-height: 79px;
$logo-margin: 0 0 0 15px;
$logo-bg-size: cover;
$header-height: 122px;
$header-padding: 22px 4px 0;
$header-bg: #fff;

$primary-color: #2c747a;
$secondary-color: #2e94a0;
$tertiary-color: #4f4f4f;
$button-id-bg-color: #4f4f4f;

$button-primary-bg: #2c747a;
$button-primary-color: white;
$button-primary-bg-hover: darken(#2c747a, 10%);
$button-in-title-color: white;
$border-radius: 1px;
$button-radius: 5px;

$anchor-color: $primary-color;
$anchor-color-hover: #004e86;
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;
$font-family: 'Lato', sans-serif;
$font-size: 100%;
$template-width: 960px;

$container-border: none;

$form-navigation-margin: 0 0 1em;

$pip-nav-background-color: $primary-color;
$pip-nav-border-color: $primary-color;
$pip-nav-border-color-active: darken($primary-color, 55%);
$pip-nav-anchor-color: #fff;
$pip-nav-anchor-color-active: #fff;
$pip-nav-bg-active: rgba(255, 255, 255, .2);
$pip-nav-font-size: 1em;
$pip-nav-bg-hover: rgba(255, 255, 255, .1);
$toggle-pip-nav-color: #fff;
$pip-nav-border-weight: 2px;

$pip-progress-bar-bg: lighten($primary-color, 50%);

$title-text-color: #fff;
$title-bg-color: $primary-color;
$title-font-size: 1.75rem;
$title-font-weight: 400;
$title-padding-top: 1.25em;
$title-padding-bottom: 1.25em;
$title-padding-right: 1.25rem;
$title-padding-left: 1.25rem;
$title-height: auto;

$heading1-color: #000;
$heading1-fontsize: 2em;
$heading1-weight: 700;
$heading1-font-family: 'Montserrat', sans-serif;

$heading2-color: #000;
$heading2-fontsize: 1.5em;
$heading2-weight: 700;
$heading2-font-family: 'Montserrat', sans-serif;

$stap-active-anchor-font-weight: 400;
$stap-active-bg-color: $secondary-color;

$icon-question-sign-color: $secondary-color;

@import "template-normalize";
@import "basic-template";
@import "template-defaults";
@import "template-media-queries";
@import "button-reset";

.pip-nav {
  ul li.current a {
    border-bottom: 2px solid $pip-nav-border-color-active;
    margin-bottom: -2px;
  }
}

.pip-case-form-phase-title {
  font-weight: normal;
}

.pip-nav ul li.current a {
  border-bottom: 2px solid #004e86 !important;
}


.button.button-mega {
  font-size: 1.2em;
}



.block .block-header .header-actions .button-secondary,
.block .block-header .header-actions .button-secondary i {
  color: #4f4f4f;
}


.block-header {
  background-color: #ffffff !important;
}


.block-header h1 {
  color: #04445f !important;
  font-family: Arial, Verdana, 'Sans Serif';
  font-weight: bold;
}

.block .block-header .header-actions .button-secondary:hover {
  color: darken(#4f4f4f, 0%);
  background: rgba(255, 255, 255, 0.2);
}

.stap-titel {
  font-family: Arial, Verdana, 'Sans Serif';
}

.start_zaak_box,
.start_zaak_box_content {
  background-color: #ECECEC !important;
  color: #1d1c1c !important;
}

.done h2 {
  font-family: Arial, Verdana, 'Sans Serif';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Verdana, 'Sans Serif';
}

.button.button-id {
  border: 1px solid #2c747a;
  background: #2c747a;
  color: #fff;
  font-weight: normal;
  font-weight: bold;
}

.button.button-id:hover {
  border: 1px solid darken(#2c747a, 10%);
  background: darken(#2c747a, 10%);
}


.pip-login .pip-login-block-content .button {
  margin: 0 0 20px;
  color: #fff;
  font-size: 1.2em;
}

.pip-nav ul {
  background: #2c747a;
}

.pip-nav {
  background-color: #2c747a;
  border-bottom: 2px solid #2c747a;
}

.pip-nav ul li.current a {
  border-bottom: 2px solid darken(#2c747a, 10%) !important;
  background: darken(#2c747a, 10%);
}

.pip-page-title h1 {
  color: #2c747a !important;
}

.pip-nav ul li a {
  font-weight: bold;
}

.button-primary {
  font-weight: bold;
}

.pip-case-form-phase-title {
  background: #4f4f4f;
}

.pip-case-form-phase-title.pip-case-form-phase-current {
  background: #4f4f4f;
}

.pip-case-form-phase-title.pip-case-form-phase-current:hover {
  background: darken(#4f4f4f, 10%);
}

.pip-case-form-phase-title.pip-case-form-phase-active:hover {
  background: darken(#4f4f4f, 10%);
  border-color: darken(#4f4f4f, 10%);
}

.pip-case-form-phase-title.pip-case-form-phase-current:hover {
  background: darken(#4f4f4f, 10%) !important;
}



.pip-case-component h2 {
  color: #2c747a !important;
}

.pip-overview-block-title- {
  filter: invert(17%) sepia(85%) saturate(6050%) hue-rotate(348deg) brightness(98%) contrast(118%);
  -webkit-filter: invert(17%) sepia(85%) saturate(6050%) hue-rotate(348deg) brightness(98%) contrast(118%);
}


.button-secondary {
  background: #2c747a;
  color: #ffffff;
  border: 1px solid #2c747a;
  font-weight: bold;
}

.pip-overview-block {
  border-bottom: 0px solid #2c747a !important;
}

.button-secondary:hover {
  border: 1px solid #2c747a;
  background: #2c747a;
  color: white;
}

.pip a {
  color: #2c747a;
  text-decoration: none;
  font-weight: bold;
}

.pip a:hover {
  color: darken(#2c747a, 10%);
  text-decoration: none;
}

.start_zaak_box img {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.start_zaak_box a {
  color: #1d1c1c;
  font-weight: 700;
}