@import '../partials/dependencies';

@font-face {
  font-family: 'Zileetzmtrmjycykknfoirvvvns';
  src: url('../../form/nissewaard/fonts/Zileetzmtrmjycykknfoirvvvns.eot');
  src: url('../../form/nissewaard/fonts/Zileetzmtrmjycykknfoirvvvns.eot?#iefix') format('embedded-opentype'),
    url('../../form/nissewaard/fonts/Zileetzmtrmjycykknfoirvvvns.woff2') format('woff2'),
    url('../../form/nissewaard/fonts/Zileetzmtrmjycykknfoirvvvns.woff') format('woff'),
    url('../../form/nissewaard/fonts/Zileetzmtrmjycykknfoirvvvns.ttf') format('truetype'),
    url('../../form/nissewaard/fonts/Zileetzmtrmjycykknfoirvvvns.svg#Zileetzmtrmjycykknfoirvvvns') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



body {
  font-size: 18px !important;
  font-family: Calibri, arial, sans-serif !important;
  background: #E7F7FC !important;
}

$template-type: open;

$font-family: Calibri, arial, sans-serif;
$font-family-2: Calibri, arial, sans-serif;

$logo-url: '../../form/nissewaard/img/logo.svg';
$logo-width: 264px;
$logo-height: 60px;
$logo-margin: 7px 0 0 0;
$logo-bg-size: contain;
$header-height: 91px;
$header-padding: 5px 4px 0;
$header-bg: #fff;

$primary-color: #0080AD;
$secondary-color: #0080AD;
$tertiary-color: #0080AD;
$button-id-bg-color: #0080AD;

$button-primary-bg: #0080AD;
$button-primary-color: #ffffff;
$button-primary-bg-hover: darken(#0080AD, 10%);
$button-in-title-color: #151515;
$border-radius: 8px;
$button-radius: 8px;

$anchor-color: $primary-color;
$anchor-color-hover: #333333;
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;
$font-family: Calibri, arial, sans-serif;
$font-size: 100% !important;
$template-width: 960px;

$container-border: none;

$form-navigation-margin: 0 0 1em;

$pip-nav-background-color: $primary-color;
$pip-nav-border-color: $primary-color;
$pip-nav-border-color-active: darken($primary-color, 55%);
$pip-nav-anchor-color: #fff;
$pip-nav-anchor-color-active: #fff;
$pip-nav-bg-active: rgba(255, 255, 255, 0.2);
$pip-nav-font-size: 18px;
$pip-nav-bg-hover: rgba(255, 255, 255, 0.1);
$toggle-pip-nav-color: #fff;
$pip-nav-border-weight: 2px;

$pip-progress-bar-bg: lighten($primary-color, 50%);

$title-text-color: #333333;
$title-bg-color: $primary-color;
$title-font-size: 30px;
$title-font-weight: 600;
$title-padding-top: 1.25em;
$title-padding-bottom: 1.25em;
$title-padding-right: 1.25rem;
$title-padding-left: 1.25rem;
$title-height: auto;

$heading1-color: #333333;


$heading1-fontsize: 29px;
$heading1-weight: 600;
$heading1-font-family: 'Zileetzmtrmjycykknfoirvvvns', Calibri, arial, sans-serif !important;


$heading2-color: #0080AD;
$heading2-fontsize: 23px;
$heading2-weight: 600;
$heading2-font-family: 'Zileetzmtrmjycykknfoirvvvns', Calibri, arial, sans-serif !important;


$stap-active-anchor-font-weight: 400;
$stap-active-bg-color: $secondary-color;

$icon-question-sign-color: $secondary-color;

@import 'template-normalize';
@import 'basic-template';
@import 'template-defaults';
@import 'template-media-queries';
@import 'button-reset';

@media only screen and (min-width: 960px) {
  .block .block-header .header-actions {
    height: 38px;
    display: flex;
    align-items: center;
  }

  .form-navigation {
    margin: 0 0 2.3em;
  }

  .prelogin-info-tekst h3 {
    margin: 0;
    font-size: 1.4em;
  }

  .form-navigation .stap:first-child {
    border-radius: 12px 0 0 12px;
  }

  .form-navigation .stap:last-child {
    border-radius: 0 12px 12px 0;
  }
}

h1.left.header-title.block-header-title {
  margin-bottom: 20px;
}

#main {
  width: 100% !important;
}

.header.block-header.clearfix {
  max-width: 960px;
  margin: auto;
}

@media only screen and (max-width: 960px) {

  .pip-nav ul li a i {
    margin-top: -4px;
  }


  .toggle-pip-nav button {
    color: #ffffff;
  }

  #toggle:checked+div button {
    background: transparent;
  }

  .inner #logo {
    zoom: .8;
  }

  header {
    height: 77px;
  }

  .block-header {
    padding-bottom: 0.3rem;
    padding-left: 0.8rem;
  }

  .block-header h1 {
    font-size: 24px !important;
  }

  .block-content,
  .pip-content {
    padding: 12px;
  }

  #toggle:checked+div label,
  .toggle-pip-nav {
    background: transparent !important;
  }

  .pip-nav ul li.current a {
    margin-bottom: -2px;
    border-radius: 17px;
  }

  ul.pip-nav-menu {
    padding: 11px !important;
  }

  .pip-nav ul li a {
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 20px;
    padding-bottom: 17px;
  }

  .pip-nav ul li a:hover {
    border-radius: 17px;
  }

  .pip-nav ul li {
    margin-bottom: 7px;
  }
}

.pip-overview-block-title h2 {
  color: #333333;
}

@media only screen and (min-width: 960px) {
  .pip-nav ul li {
    zoom: .9;
  }

  .pip-nav ul li a i {
    margin-top: -4px;
  }

  .pip-nav ul li a {
    padding: 1em .7em 1em .7em;
  }

  .pip-nav ul li.current a,
  .pip-nav ul li a:hover {
    border-bottom: 0px solid #0080AD !important;
    border-radius: 12px !important;
    max-height: 51px !important;
  }

  .pip-nav ul li.current a,
  .pip-nav ul li a:hover {
    border-bottom: 0px solid #0080AD !important;
    border-radius: 12px !important;
    max-height: 51px !important;
  }

  .pip-nav ul li a {
    margin-right: 10px !important;
  }


  .block-content,
  .pip-content {
    padding: 20px 0px 20px 0px;
  }
}

.pip-nav ul li.current a,
.pip-nav ul li.current a:hover {
  color: #1c1c1c;
}


.pip-nav ul li a,
.pip-nav ul li a:hover {
  color: #ffffff;
}

.pip-nav ul li.current a,
.pip-nav ul li.current a:hover {
  background: rgb(255, 255, 255);
}

.pip-nav ul li a:hover {
  background: rgba(0, 0, 0, 0.29);
}



.header h1.header-title {
  width: 85%;
}

#main {
  padding: 0;
  width: 100% !important;
}






.row {
  font-weight: 400;
}

.block .block-header .header-actions .button-secondary {
  color: #333333;
}




.button {
  padding: 12px 21px;
}

.form-actions,
.form-actions.form-actions-old {
  padding: 42px 0;
}




.inner #logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-navigation .stap.active {
  color: #333333 !important;
}

.form-navigation .stap strong {
  font-weight: 500;
  color: #ffffff !important;
}

li,
p {
  font-size: 18px;
}

p {
  line-height: 1.7;
  font-weight: 400;
  color: #333333;
}

.system-message {
  font-size: 18px;
  border: 0px dashed #c8c104;
}

header {
  -moz-animation-iteration-count: center;
  background-repeat: no-repeat;
  background-position: 10% bottom;
  border-bottom: 7px solid #11ace4;
}



#container {
  width: 100%;
}

.block-content,
.pip-content {
  background: white;
}



#main {
  margin: auto;
}

.block-header {
  background-color: transparent !important;
}

.pip-nav {
  ul li.current a {

    margin-bottom: -2px;
  }
}

.prelogin-info-tekst h3 {
  margin: 0;
}


.pip-case-form-phase-title {
  font-weight: normal;
}


.block-header {
  font-family: 'Zileetzmtrmjycykknfoirvvvns', Calibri, arial, sans-serif !important;
}

.pip-nav {
  background-color: #11ace4;
  font-family: Calibri, arial, sans-serif !important;
  border-bottom: 2px solid #007fad00;
}

.pip-case-form-phase-title {
  font-weight: normal;
}