@import "../partials/dependencies";

$template-basic: true;

$body-bg: #eee;

$logo-url: "../../form/noaberkracht/img/logo.png";
$logo-width: 190px;
$logo-height: 112px;
$logo-margin: 0 0 0 15px;
$logo-bg-size: cover;
$header-height: 142px;
$header-padding: 15px 0 0;
$header-bg: #fff;

$primary-color: #02376d;
$secondary-color: #f3b63a;
$tertiary-color: #5c5b5b;
$button-id-bg-color: #333;

$button-primary-bg: darken($secondary-color, 10%);
$button-primary-color: white;
$button-primary-bg-hover: $primary-color;
$button-in-title-color: $tertiary-color;
$border-radius: 5px;

$anchor-color: black;
$anchor-color-hover: $primary-color;
$anchor-text-decoration: underline;
$anchor-text-decoration-hover: none;
$font-family: Roboto, sans-serif;
$font-size: 92.5%;
$template-width: 960px;

$container-border: none;

$pip-nav-background-color: $primary-color;
$pip-nav-border-color: $primary-color;
$pip-nav-border-color-active: $secondary-color;
$pip-nav-anchor-color: #fff;
$pip-nav-anchor-color-active: #fff;
$pip-nav-bg-active: transparent;
$pip-nav-font-size: 1em;
$pip-nav-bg-hover: rgba(255, 255, 255, .1);
$toggle-pip-nav-color: #fff;
$pip-nav-border-weight: 2px;

$pip-progress-bar-bg: lighten($primary-color, 50%);

$title-text-color: #fff;
$title-bg-color: $primary-color;
$title-font-size: 1.75rem;
$title-font-weight: 400;
$title-padding-top: 1.25em;
$title-padding-bottom: 1.25em;
$title-padding-right: 1.25rem;
$title-padding-left: 1.25rem;
$title-height: auto;

$heading1-color: $primary-color;
$heading1-fontsize: 2.444em;
$heading1-weight: 400;

$heading2-color: $primary-color;
$heading2-fontsize: 1.6em;
$heading2-weight: normal;

$stap-active-anchor-font-weight: 400;
$stap-active-bg-color: $primary-color;

$icon-question-sign-color: $secondary-color;


@import "template-normalize";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
@import "template-media-queries";

.pip-nav {
  ul li.current a {
    border-bottom: 2px solid $pip-nav-border-color-active;
    margin-bottom: -2px;
  }
}

.pip-case-form-phase-title {
  font-weight: normal;
}