@import '../partials/dependencies';

$template-type: open;

$body-bg: #eee;

$logo-url: '';
$logo-width: auto;
$logo-height: auto;
$logo-margin: 0;
$logo-bg-size: cover;
$header-height: auto;
$header-padding: 0;
$header-bg: #fff;

$primary-color: #28347f;
$secondary-color: #28347f;
$tertiary-color: #d20a11;
$button-id-bg-color: #1d1d1d;

$button-primary-bg: $tertiary-color;
$button-primary-color: white;
$button-primary-bg-hover: darken($tertiary-color, 10%);
$button-in-title-color: white;
$border-radius: 0;

$anchor-color: #000;
$anchor-color-hover: $tertiary-color;
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;
$font-family: 'Lato', sans-serif;
$font-size: 100%;
$template-width: 960px;

$container-border: none;
$container-shadow: 0px 0px 10px rgba(50, 50, 50, 0.17);

$form-navigation-margin: 0 0 1em;

$pip-nav-background-color: $primary-color;
$pip-nav-border-color: $secondary-color;
$pip-nav-border-color-active: $secondary-color;
$pip-nav-anchor-color: #fff;
$pip-nav-anchor-color-active: #fff;
$pip-nav-bg-active: $secondary-color;
$pip-nav-font-size: 1em;
$pip-nav-bg-hover: rgba(255, 255, 255, 0.2);
$toggle-pip-nav-color: #fff;
$pip-nav-border-weight: 5px;

$pip-phase-title-bg: #eee;
$pip-phase-title-color: #000;

$pip-progress-bar-bg: lighten($primary-color, 40%);

$title-text-color: #fff;
$title-bg-color: $primary-color;
$title-font-size: 1.75rem;
$title-font-weight: 400;
$title-padding-top: 1.25em;
$title-padding-bottom: 1.25em;
$title-padding-right: 1.25rem;
$title-padding-left: 1.25rem;
$title-height: auto;

$heading1-color: #000;
$heading1-fontsize: 2em;
$heading1-weight: 700;
$heading1-font-family: 'Montserrat', sans-serif;

$heading2-color: #000;
$heading2-fontsize: 1.5em;
$heading2-weight: 700;
$heading2-font-family: 'Montserrat', sans-serif;

$stap-active-anchor-font-weight: 400;
$stap-active-bg-color: $secondary-color;

$icon-question-sign-color: $tertiary-color;

@import 'template-normalize';
@import 'basic-template';
@import 'template-defaults';
@import 'button-reset';
@import 'template-media-queries';

body {
  background: url(../../form/vijfheerenlanden/img/footer.png) no-repeat bottom
    #ececec fixed !important;
  font-family: Verdana, Arial, sans-serif !important;
  font-size: 90%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Verdana, Arial, sans-serif !important;
}

header #logo {
  display: none !important;
}

#container {
  margin-top: 30px !important;
  margin-bottom: 300px !important;
}

.logo-vhl {
  display: block;
  width: 81px;
  margin-left: -6px;
  margin-top: -9px;
  height: auto;
}

.accessibilityImg {
  height: 0;
  width: 0;
  visibility: hidden;
}

#productShowcaseContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 150px;
  width: 100%;
  background-color: #ffffff;
}

#productShowcaseTitle {
  height: 150px;
  background: url(../../form/vijfheerenlanden/img/background.jpg) no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.1);
}

.containerD2 {
  display: flex;
  background: transparent;
  height: 150px;
  width: 960px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 960px) {
  .containerD2 {
    display: flex;
    background-color: #ffffff;
    height: 87px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .vhl-letters {
    display: none;
  }

  .logo-vhl {
    display: block;
    width: 60px;
    height: auto;
    margin-left: 20px;
  }

  #productShowcaseContainer {
    height: 157px;
  }

  #productShowcaseTitle {
    height: 157px;
  }
}

.logo-links {
  width: 83px;
  float: left;
  height: 100px;
  margin: 0px;
  margin-top: 9px;
}

.logo-rechts {
  width: 960px;
  float: right;
  height: 100px;
}

.vhl-letters {
  width: 320px;
  float: right;
  margin-top: 31px;
}

.pip-nav {
  ul li.current a {
    border-bottom: 2px solid $pip-nav-border-color-active;
    margin-bottom: -2px;
  }
}

.pip-case-form-phase-title {
  font-weight: normal;
}

header {
  width: 100%;
  max-width: 100%;
  #logo {
    position: relative;
    z-index: 1;
    text-indent: 0;
    display: inline-block;
    img {
      display: block;
      max-width: 100%;
    }
  }
}

#parent_div_1,
#parent_div_2,
#parent_div_3 {
  width: 100px;
  height: 100px;
  border: 0px solid red;
  margin-right: 10px;
  float: left;
}
.child_div_1 {
  float: left;
  margin-right: 5px;
}
