@import "../partials/dependencies";


$template-type: open;

$body-bg: #eee;

$logo-url: "";
$logo-width: 233px;
$logo-height: 80px;
$logo-margin: 0;
$logo-bg-size: cover;
$logo-text-indent: 0;
$header-height: 80px;
$header-padding: 0;
$header-bg: #fff;

$primary-color: #008284;
$secondary-color: #E12A2A;
$tertiary-color: #4D8339;
$button-id-bg-color: #333;

$button-primary-bg: $primary-color;
$button-primary-color: white;
$button-primary-bg-hover: #00A1A3;
$button-in-title-color: #333;
$button-in-title-bg-hover: #f5f5f5;
$border-radius: 0;
$button-primary-font-size: 112.5%;
$button-secondary-font-size: 112.5%;

$anchor-color: $primary-color;
$anchor-color-hover: $primary-color;
$anchor-text-decoration: underline;
$anchor-text-decoration-hover: underline;
$font-family: 'Source Sans Pro', sans-serif;
$font-size: 93.75%;
$template-width: 100%;
$template-type-open-width: 940px;

$content-padding: 20px 0 20px;
$mobile-content-padding: 20px 0 20px;

$container-border: none;

$form-navigation-margin: 0 0 1em;

$pip-nav-background-color: white;
$pip-nav-border-color: #ddd;
$pip-nav-border-color-active: #78B762;
$pip-nav-anchor-color: #767676;
$pip-nav-anchor-color-active: #000;
$pip-nav-bg-active: rgba(255, 255, 255, .2);
$pip-nav-font-size: 1.2em;
$pip-nav-bg-hover: rgba(255, 255, 255, .1);
$toggle-pip-nav-color: #000;
$pip-nav-anchor-color-hover: #000;
$pip-nav-border-weight: 1px;
$pip-nav-font-weight: 600;

$pip-progress-bar-bg: lighten($primary-color, 50%);

$title-text-color: #000;
$title-bg-color: #fff;
$title-font-size: 2rem;
$title-font-weight: 700;
$title-padding-top: 1em;
$title-padding-bottom: 1em;
$title-padding-right: 0;
$title-padding-left: 0;
$title-height: auto;

$heading1-color: #000;
$heading1-fontsize: 2em;
$heading1-weight: 700;

$heading2-color: #000;
$heading2-fontsize: 1.5em;
$heading2-weight: 700;


$stap-bg-color: white;
$stap-active-anchor-font-weight: 400;
$stap-active-bg-color: white;
$stap-active-anchor-color: black;

$icon-question-sign-color: $secondary-color;

@import "template-normalize";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
@import "template-media-queries";

* {
  box-sizing: border-box;
}

body {
  line-height: 1.75;
  background: #D6EBF7;
}


[class*='bit-'] {
  font-style: normal !important;
}

#footer .bit-4 div {
  font-style: normal !important;
}

li {
  font-style: normal;
}


#container {
  background-image: url(../../form/waalre/img/logo.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
  background-size: cover;
  margin-bottom: -280px;
  background-color: transparent;
}

header {
  margin-bottom: 2rem;

  .inner {
    display: flex;
    justify-content: center;
  }
}

#main {
  max-width: 1070px;
  width: auto;
  margin: 0 auto 60px;
  background: #fff;
  padding: 20px;
}

#logo {
  font-weight: 400;
  font-size: 160%;
  line-height: 80px;
  position: relative;
  z-index: 1;

  a {
    text-decoration: none;
    color: #222222;
  }

  span {
    font-weight: 600;
  }
}

.form-navigation .stap {
  border-bottom: 8px solid #ECEDED;
  margin-right: 1%;
  padding: 0 1rem 0 0;
  text-align: left;
  color: #6D6D6D;

  &:first-child {
    padding: 0 1rem 0 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &::before,
  &::after {
    display: none;
  }

  strong {
    color: black;
  }
}

.pip-login {
  padding: 0;
}

.pip-nav {
  margin: -20px -20px 0;

  .pip-nav-menu {
    @media only screen and (max-width: $template-type-open-width) {
      padding: 8px 0 !important;
    }
  }

  ul li a {
    position: relative;
    transition: border 100ms ease;
    padding: 0 1em;
    height: 50px;
    line-height: 50px;

    @media only screen and (min-width: $template-type-open-width) {
      height: 80px;
      line-height: 80px;
      margin-bottom: -4px;
    }

    &:hover {
      border-bottom: 4px solid $pip-nav-border-color-active;
    }

    &:focus {
      background: #EEE;
      outline-width: 0;
      box-shadow: none;
    }
  }

  ul li.current a {
    border-bottom: 4px solid $pip-nav-border-color-active;
    margin-bottom: -1px;
  }

}

.pip-case-form-phase-title {
  font-weight: normal;
}


.block-header-inner {
  display: flex;
  align-items: center;

  .block-header-actions {
    margin-left: auto;
  }
}

.block .block-header .header-actions.right {
  position: static;
}

.button:hover {
  text-decoration: underline;
}

label.titel {
  font-weight: 600;
}


@media only screen and (max-width: $template-type-open-width + 20px) {
  #logo {
    margin-left: 20px;
  }
}

.alphabet {
  background: #4D8339;
  color: #FFFFFF;
  padding: 1.8em 0;
  text-align: center;
  margin-bottom: 2em;
  font-size: 112.5%;
}

#footer {
  height: 280px;
  background: #FFFFFF;
  position: relative;

  h3 {
    font-size: 112.5%;
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4 {
    color: #222222;
    font-weight: 600;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 93.333333%;
  }

  .bit-4 div {
    padding-right: 20px;
  }

  .bottom a {
    color: #E12A2A;
  }

  .social a {
    color: #333;
  }

  .social ul.icons li {
    display: inline-block;

    a {
      display: block;
      margin-left: 4px;
    }
  }
}

#footer .social p,
#footer .social ul {
  margin: 1em 0;
}

#footer p,
#footer .bottom ul {
  font-size: 93.333333%;
}

.center-align {
  max-width: 980px;
  padding: 0 20px;
  margin: 0 auto;
}

.frame {
  margin: 0 auto;
  max-width: 100%;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.bit-4 {
  width: 25%;
}

[class*='bit-'] {
  float: left;
  padding: 0;
}

#footer .social {
  text-align: right;
}

.custom_overlay div {
  box-sizing: content-box;
}

.push {
  height: 280px;
}

.pip .field-help .icon-question-sign {
  text-decoration: none;
}

.pip .kenmerk-veld ul {
  margin-left: 20px;
}

@media screen and (max-width: 1110px) {
  #main {
    margin: 0 20px 60px;
  }
}

@media screen and (max-width: 800px) {
  .push {
    display: none;
  }

  #container {
    margin-bottom: 0;
    min-height: 0;
    background-image: none;
  }

  #footer {
    height: auto;
    position: relative;
  }

  #footer .bit-4 {
    width: 100%;
  }

  #footer .logo {
    margin-bottom: 10px;
  }

  #footer .contact {
    border-bottom: 1px dotted #444;
    border-top: 1px dotted #444;
    margin-bottom: 20px;
    padding: 16px 0 0 0;
  }

  #footer .tweet {
    display: none;
  }

  #footer .bottom ul {
    margin-bottom: 1.2em;
  }

  #footer .social {
    position: static;
    width: 100%;
    text-align: left;
  }

  #footer .social a {
    margin-right: 10px;
  }

  #footer .social ul.icons {
    margin-bottom: 1em;
    margin-top: 0;
  }

  #footer .social ul {
    margin-bottom: 0;
  }

  #footer .bottom {
    padding-bottom: 20px;
  }
}

@media screen and (max-width:$template-type-open-width) {
  .pip-nav ul li.current a {
    border-bottom: none;
  }

  .header h1.header-title {
    white-space: inherit;
    padding-right: 0;
    line-height: 1.1;
  }
}

input[type=text],
input[type=number],
input[type=email],
textarea {
  border-color: #919191 !important;
}