@import "partials/license-block";
@import "partials/dependencies";

// basics

* {
  padding: 0;
  margin: 0;
  font-family: $font-family;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  font-family: $font-family;
  font-size: $base-font-size;
  color: $text-color;
  text-decoration: none;
  background: white;
}

a {
  color: $anchor-color;

  &:hover {
    color: $anchor-hover-color;
  }

  &.anchor-reset {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: inherit;
    }
  }
}

img {
  border: none;
}

ul.list {
  margin-left: 15px
}

p {
  font-size: 1em;
  line-height: 1.8;
  margin: 1em 0;

  &.bericht {
    margin-bottom: 15px;
  }
}

h1.in-dialog {
  font-size: 13px;
  position: relative;
  padding: 12px 0;
  border-bottom: 2px solid #ddd;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 1.25em;
  margin-top: .25em;

  &.zaaknummer {
    float: left;
  }
}

h3 {
  margin-bottom: 1em;
  font-size: 1.25em;
}

h3.title {
  padding: 1em 0;
  margin: 0;
  border-bottom: 2px solid #ddd;
  font-weight: 500;
}

hr {
  border: 1px solid #ddd;
}

small {
  color: #888;
  font-size: 11px;
}

small.spot-enlighter-case-desc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@import "partials/scaffolding";
@import "partials/menu";
@import "partials/block";
//@import "partials/spotenlighter";
@import "partials/header-menu";
@import "partials/branding";
@import "partials/nieuwe-zaak-popup";
@import "partials/auth-widget";
@import "partials/angular-system-message";
@import "partials/angular-spinner";
@import "partials/angular-modal";
@import "partials/angular-context-menu";
@import "partials/angular-panel";
@import "partials/angular-popup-menu";
@import "partials/zs-dropdown-menu";
@import "partials/angular-pagination";
@import "partials/angular-datepicker";
@import "partials/tooltip";
@import "partials/pagination";
@import "partials/helpers";
@import "partials/forced-scrollbar";
@import "partials/browser-check";
@import "partials/error";
@import "partials/zaken-tabel";
@import "partials/config";
@import "partials/grid";
@import "partials/media-queries";
@import "partials/dashboard";
@import "partials/alerts";
@import "partials/stuf-zkn";
@import "../../../../client/src/shared/zs/vorm/zsVormTemplateModifier/vorm.scss";


[data-zs-sortable]:hover {
  cursor: move;
}

form[name=logging_list] {
  strong {
    margin: 10px 0 0;
    display: inline-block;
  }
}

pre.logging-code {
  font-family: Courier New;
  overflow: hidden;
  padding: 10px 0;
}

.spoof-id {
  padding: 15px;
}


.ml-animate-auto-height.ng-hide-remove,
.ml-animate-auto-height.ng-hide-add {
  overflow: hidden;
}

.ml-animate-auto-height {
  -webkit-transition: max-height 0.5s ease-out;
  -moz-transition: max-height 0.5s ease-out;
  -ms-transition: max-height 0.5s ease-out;
  -o-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
  max-height: none;
}

.ml-animate-auto-height.ng-hide {
  max-height: 0px;
}

.big-title-blue {
  color: black !important;
  font-weight: 500 !important;
  font-size: 1.5rem !important;
}