<div class="widget-external-url-wrapper" ng-switch="zsDashboardWidgetExternalUrl.getState()">
  <zs-dashboard-widget-external-url-form ng-switch-when="form"
    on-url-enter="zsDashboardWidgetExternalUrl.handleEnterUrl($data)"
    widget-title="zsDashboardWidgetExternalUrl.getWidgetTitle($getter)"
    widget-loading="zsDashboardWidgetExternalUrl.isWidgetLoading({ $getter: $getter })">
  </zs-dashboard-widget-external-url-form>

  <zs-dashboard-widget-external-url-result ng-switch-when="display"
    widget-title="zsDashboardWidgetExternalUrl.getWidgetTitle($getter)"
    widget-loading="zsDashboardWidgetExternalUrl.isWidgetLoading({ $getter: $getter })"
    widget-data="zsDashboardWidgetExternalUrl.widgetData()"
    on-data-change="zsDashboardWidgetExternalUrl.onDataChange({ $newData: $data })"
    data-settings="zsDashboardWidgetExternalUrl.settings()"></zs-dashboard-widget-external-url-result>

  <zs-dashboard-widget-external-url-blocked ng-switch-when="notallowed"
    widget-title="zsDashboardWidgetExternalUrl.getWidgetTitle($getter)"
    widget-loading="zsDashboardWidgetExternalUrl.isWidgetLoading({ $getter: $getter })"
    widget-data="zsDashboardWidgetExternalUrl.widgetData()"
    on-data-change="zsDashboardWidgetExternalUrl.onDataChange({ $newData: $data })"
    data-settings="zsDashboardWidgetExternalUrl.settings()"
    whitelist="zsDashboardWidgetExternalUrl.getWhitelistDomains()"></zs-dashboard-widget-external-url-blocked>
</div>