@font-face {
  font-family: "Roboto";
  src: url("~roboto/Roboto-Thin.woff2") format("woff2"),
    url("~roboto/Roboto-Thin.woff") format("woff"),
    url("~roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Roboto";
  src: url("~roboto/Roboto-Light.woff2") format("woff2"),
    url("~roboto/Roboto-Light.woff") format("woff"),
    url("~roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src:
    url("~roboto/Roboto-Regular.woff2") format("woff2"),
    url("~roboto/Roboto-Regular.woff") format("woff"),
    url("~roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("~roboto/Roboto-Medium.woff2") format("woff2"),
    url("~roboto/Roboto-Medium.woff") format("woff"),
    url("~roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("~roboto/Roboto-Bold.woff2") format("woff2"),
    url("~roboto/Roboto-Bold.woff") format("woff"),
    url("~roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Almarai";
  src: local(Almarai Light),
    url("~almarai/Almarai-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Almarai";
  src: local(Almarai Regular),
    url("~almarai/Almarai-Regular.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Almarai";
  src: local(Almarai Bold),
    url("~almarai/Almarai-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Almarai";
  src: local(Almarai ExtraBold),
    url("~almarai/Almarai-ExtraBold.ttf") format("truetype");
  font-weight: 900;
}