<div>
  <select name="regels_[% fieldname %]_rule_uuid">
    [%- sb = milestone.elementen.standaard_betrokkenen;
      FOREACH kenmerk_index IN sb.keys.nsort %]
          [% betrokkene = sb.$kenmerk_index %]
          <option value="[% betrokkene.uuid %]"
                [% value_param = fieldname _ '_rule_uuid' %]
                 [% IF betrokkene.uuid == params.$value_param %] selected="selected" [% END %]
          >
            [% betrokkene.naam %] ([% betrokkene.rol %])

          </option>
      [% END %]
  </select>

</div>