<script type="text/ng-template" id="/html/case/case.html#case-start-box">

	<div class="case-start-box" data-ng-show="caseStartBox.isApplicationPaused()">
	</div>
	
</script>

<script type="text/ng-template" id="/html/case/case.html#template-form">

	<div ng-switch="caseTemplateForm.formPhase">

		<form 
			name="template-form"
			class="doc-template-form form"
			ng-switch-when="creating"
		>
		
			<div class="row">
				<div class="column large-4">%%Sjabloon%%</div>
				<div class="column large-8">
					<select 
						ng-model="caseTemplateForm.values.template"
						ng-options="template as template.bibliotheek_sjablonen_id.naam for template in templates()"
						ng-change="caseTemplateForm.handleTemplateChange()"
						ng-disabled="!showTemplateSelect()"
					>
						
					</select>

					<div class="template-form-external-warning" ng-show="!!caseTemplateForm.values.template.bibliotheek_sjablonen_id.interface_id">
						Let op! Dit sjabloon wordt gegenereerd met een externe documentgenerator.
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="column large-4">%%Naam%%</div>
				<div class="column large-8">
					<input type="text" data-ng-model="caseTemplateForm.values.name" data-ng-required="true" class="large300"/>
					<span ng-show="!caseTemplateForm.values.template.bibliotheek_sjablonen_id.interface_id"><['.' + caseTemplateForm.values.targetFormat]></span>
				</div>
			</div>
			
			<div class="row" ng-show="!caseTemplateForm.values.template.bibliotheek_sjablonen_id.interface_id">
				<div class="column large-4">%%Opslagformaat%%</div>
				<div class="column large-8">
					<label>
						<input type="radio" data-ng-model="caseTemplateForm.values.targetFormat" value="odt"/>
						odt
					</label>
					<label>
						<input type="radio" data-ng-model="caseTemplateForm.values.targetFormat" value="pdf"/>
						pdf
					</label>
				</div>
			</div>
			
			<div class="row" data-ng-show="caseDocs().length">
				<div class="column large-4">%%Zaakdocument%%</div>
				<div class="column large-8">
					<select data-ng-model="caseTemplateForm.values.caseDocument" data-ng-options="(caseDoc.label||caseDoc.bibliotheek_kenmerken_id.naam) for caseDoc in caseDocs()">
						<option value="">%%Geen%%</option>
					</select>
				</div>
			</div>
			
			<div class="form-actions">
				<button 
					class="button right button-<[action.type]>"
					ng-repeat="action in actions()"
					ng-click="caseTemplateForm.handleActionClick(action)"
					ng-disabled="caseTemplateForm.isDisabled(action)"
				>
					<[action.label]>
				</button>
			</div>
		</form>
		
		<div
			ng-switch-when="submitting"
		>
			<div class="xential-modal-spinner xential-modal-icon">
				<div zs-spinner="true" class="zs-spinner-medium"></div>
			</div>
			<div class="xential-modal-text">Het sjabloon wordt gegenereerd.</div>
		</div>
		<div
			ng-switch-when="pending"
		>
			<div class="xential-modal-icon">
				<i class="mdi mdi-information-outline"></i>
			</div>
			<div class="xential-modal-text">
			Uw sjabloon is in de wachtrij geplaatst.<br>U krijgt een notificatie op het moment dat deze is verwerkt.<br><br>
			<button ng-click="caseTemplateForm.handleCloseClick()" class="btn btn-primary">
				Sluiten
			</button>
			</div>

			
		</div>

		<div
			ng-switch-when="redirect"
		>
			<div class="xential-modal-icon">
				<i class="mdi mdi-alert"></i>
			</div>
			<div class="xential-modal-text">
				Voor het genereren van het sjabloon moeten er acties uitgevoerd worden op een externe website.
				<br><br>
				<a ng-href="<[caseTemplateForm.getRedirectUrl()]>" ng-click="onDone()" target="_blank" rel="noopener" class="btn btn-primary">
					Klik hier om naar xential te gaan
				</a>
			</div>
		</div>
	</div>
	
</script>
